@{
    ViewBag.Title = "Outer";
}

<style type="text/css">
    #myFrame {
        width: 100%;
        height: 200px;
        border: none;
    }
</style>

<div class="container-fluid">
    <div class="page-header">
        <h1>Messages</h1>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div id="messages" class="well">
            </div>
        </div>
        <div class="col-sm-6">
            <iframe id="myFrame" src="@Url.Action("Inner")" ></iframe>
        </div>
    </div>


    <button id="setDefaults" class="btn btn-default">Set defaults</button>
</div>



@*<script type="text/javascript">
    var msg = {
        message: "Hello, this is a test message",
        code: "AB-12",
        id: 0,
    };

    var s = sprintf("<p>%1$s (%2$s) %3$s</p>", msg.id, msg.code, msg.message);

    $("#messages").append(s);


    $("#setDefaults").click(function () {
       
    });
</script>*@

<script type="text/javascript" src="@Url.Content("~/dist/MyApp/Scripts/Message_Index.js")"></script>