@{
    ViewBag.Title = "Array fundamentals";
}

<h1>Array fundamentals</h1>

<div class="container-fluid">
    <pre>
<script type="text/javascript" style="display: block">
    var a1 = ["Tom", "Dick", "Harry", "Sue", "Jenny", "Patti", "Katie"];
    var a2 = $().add({ id: 1, firstName: "John", lastName: "Doe" }).add({ id: 2, firstName: "Jennifer", lastName: "Smith" }).add({ id: 3, firstName: "Tom", lastName: "Smith" });
</script>
    </pre>

</div>
