@*
Include jsTree required files here
*@

<div class="page-header">
    <h1>Html data</h1>
</div>

@*

Turn the ul below into jsTree

*@

<ul>
    <li>First node</li>
    <li>Second node</li>
    <li>Third node
    <ul>
        <li>First nested node</li>
        <li>Second nested node</li>
    </ul>
    </li>
</ul>
