@{
    ViewBag.Title = "File";
}

<h2>File</h2>


<div>
    <input type="file" name="myFile" id="myFile" />
</div>

<script type="text/javascript" src="@Url.Content("~/dist/MyApp/Scripts/Polyfills.js")"></script>
<script type="text/javascript" src="@Url.Content("~/dist/MyApp/Scripts/XmlHttpRequest_File.js")"></script>