@{
    ViewBag.Title = "Fundamentals";
}

<h2>Fundamentals</h2>


<div>
    <input type="text" name="myText" id="myText" value="Sample text" />
</div>
<div>
    <button type="button" id="send-button">Send!</button>
</div>

<script type="text/javascript" src="@Url.Content("~/dist/MyApp/Scripts/Polyfills.js")"></script>
<script type="text/javascript" src="@Url.Content("~/dist/MyApp/Scripts/XmlHttpRequest_Fundamentals.js")"></script>