@{
    ViewBag.Title = "Retrieving HTML";
}

<h2>Retrieving HTML</h2>


<div>
    <input type="text" name="myText" id="myText" value="Sample text" />
    <input type="number" name="timeout" id="timeout" value="5000" placeholder="timeout"  />
</div>
<div>
    <button type="button" id="send-button">Send!</button>
</div>
<div id="retrievedContent"></div>

<script type="text/javascript" src="@Url.Content("~/dist/MyApp/Scripts/Polyfills.js")"></script>
<script type="text/javascript" src="@Url.Content("~/dist/MyApp/Scripts/XmlHttpRequest_RetrievingHtml.js")"></script>