@{
    ViewBag.Title = "JsUrlTest";
}

<h2>JsUrlTest</h2>

<script type="text/javascript" src="@Url.Content("~/dist/MyApp/Scripts/DomUrl_JsUrlTest.js")"></script>

<script type="text/javascript">
    $(document).ready(function () {
    });
</script>